.btn {
  all: initial;
  * {
    all: unset;
  }
  // ^ clears all styling
  display: block;
  cursor: pointer;
  border: 1px solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 7px;
  margin: 7px;
  text-align: center;

  &--session-form-nav {
    color: black;
    &:hover {
      background-color: rgb(247, 247, 247)
    }
  }

  &--session-submit {
    color: white;
    background-color: black;
    &:hover {
      background-color: rgb(55, 55, 55);
    }
  }
}

// .session-form-nav-button {
//   all: initial;
//   * {
//     all: unset;
//   }
//   // ^ clears all styling
//   display: block;
//   cursor: pointer;
//   border: 1px solid grey;
//   padding-right: 2vh;
//   padding-left: 2vh;
//   padding-top: 1.3vh;
//   padding-bottom: 1.3vh;
//   text-decoration: none; 
//   border-radius: 7px;
//   color: black;
//   margin: 7px;
//   text-align: center;
// }

// .session-form-nav-button:hover {
//   background-color: rgb(247, 247, 247)
// }

// .session-submit {
//   all: initial;
//   * {
//     all: unset;
//   }
//   display: block;
//   cursor: pointer;
//   border: 1px solid grey;
//   padding-right: 2vh;
//   padding-left: 2vh;
//   padding-top: 1.3vh;
//   padding-bottom: 1.3vh;
//   text-decoration: none; 
//   border-radius: 7px;
//   color: white;
//   margin: 7px;
//   text-align: center;
//   background-color: black;
// }

// .session-submit:hover {
//   background-color: rgb(55, 55, 55);
// }