.chat-container {
  margin: 5vh auto 0 auto;
  max-width: 700px;
}

.chat-msgs-container {
  width: 100%;
  border: 1px solid lightgray;
  overflow-y: scroll;
  height: 50vh;
}

.msgs-ul {
  list-style: none;
  font-size: calc(0.5vw + 12px);
}

.msg {
  margin-top: calc(0.5vw + 10px);
  &__upper {
    margin-bottom: 2px;
    &--author {
      font-size: calc(0.5vw + 11px);
    }
    &--time-date {
      font-size: 12px;
      color: lightgray;
    }
  }
  &__lower {
    &--body {
      font-weight: 300;    
    }
  }
}

.chat-form {
  display: flex;
  &__input {
    width: 80%;
    height: 40px;
    min-height: 5em;
    max-height: 50vh;
  }
  &__submit {
    width: 20%;
    padding: 16px 10px;
    font-size: 12px;
  }
}