@import '../components/button';
@import '../abstract/mixins';

.chat-container {
  margin: 5vh auto 0 auto;
  max-width: 700px;
  font-size: calc(0.5vw + 12px);
}

.chat-msgs-container {
  width: 100%;
  border: 1px solid lightgray;
  overflow-y: scroll;
  height: 50vh;
}

.msgs-ul {
  list-style: none;
}

.msg {
  margin-top: 12px;
  &__upper {
    margin-bottom: 2px;
    &--author {
      font-size: calc(0.5vw + 11px);
    }
    &--time-date {
      font-size: 12px;
      color: lightgray;
    }
  }
  &__lower {
    &--body {
      font-weight: 300;
    }
  }
}

.chat-form {
  display: flex;
  &__input {
    width: 80%;
    height: 10px;
    min-height: 2vh;
    max-height: 20vh;
    font-size: calc(0.5vw + 11px);
    border: 1px solid lightgray;
    padding: 20px 20px 20px 40px;
  }
  &__submit {
    @extend .session__btn;
    width: 20%;
    padding: 16px 10px;
    margin: 0;
    border-radius: 0;
    border: 1px solid lightgray;
    font-family: sans-serif;
    font-size: 15px;
    color: gray;
    @include hover-supported() {
      &:hover {
        background-color: orange;
        color: white;
      }
    }
  }
}