header {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  height: 10vh;
  border-bottom: 1px solid grey;
}

.session-form-box {
  border: 1px solid grey;
  width: 33%;
  padding-right: 7vh;
  padding-left: 7vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.session-form-container {
  padding-top: 4vh;
  display: flex;
  justify-content: center;
}

.session-textbox {
  width: 90%;
  display: block;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  border-style: none;
  border: 1px solid #E1E3DF;
  box-shadow: none;
  max-width: 100%;
}

.session-error {
  // This nesting gives bullet different color than text
  color: darkred;
  background-color: darkred;
  padding: 10px 4px;
  &::first-line {
    color: white;
  }
}

.session-confirmation {
  color: #9F6000;
  background-color: #FEEFB3;
}

.forgot-password-link {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
}

.forgot-password-link:hover {
  opacity: 0.8;
}

.divider {
	width:100%;
	text-align:center;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
  width:40%;
  color: lightgrey;
}

.left {
	float: left;
}

.right {
	float: right;
}

.login-navbar-button {
  border: 1px solid grey;
  padding-right: 2vh;
  padding-left: 2vh;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
  text-decoration: none; 
  border-radius: 7px;
  color: black;
}

.login-navbar-button:hover {
  background-color: black;
  color: white;
}

.register-navbar-button {
  padding-right: 2vh;
  padding-left: 2vh;
  text-decoration: none; 
  color: black;
}

.register-navbar-button:hover {
  text-decoration: underline;
}

.home-link {
  color: #15c;
  text-decoration: underline;
  cursor: pointer;
}