<div 
    style="margin-top:20vh;"
    class="u-horizontally-center-text">
    <h1>
        Email confirmed!
    </h1>

    <p class="email-confirmation-home-link">
        Go to home page
    </p>
</div>

<script>
    $('.email-confirmation-home-link').click( () => {
        location.href = location.origin;
    });
</script>