<h1>OSUSCN Password Reset</h1>
<form action="/api/passwords/<%=params[:id]%>/reset" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="password">
        Enter new password:
        <br>
        <input type="password" name="password">
    </label>
    <input type="submit" value="submit change">
</form>